.recom{
    background-image: radial-gradient(circle at 100%, #f7a028, #fffbf7);
    h1{
        color: #000000;
        text-align: center;
    }
}



.flex-wrapper {
    display: flex;
  /*   flex-flow: row nowrap; */
    flex-direction:column;
    align-items: center;
  }
  
  .single-chart {
    width: 33%;
    // justify-content: space-between ;
    // display: flex;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.litlorange .circle {
    stroke: #e5e23c;
  }
  .circular-chart.red .circle {
    stroke: #e53c3c;
  }
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  .profesion{
    color: #000000;
    // margin-right: 200px;
    margin-top: 30px;
    font-size: 36px;
  }